<div class="container readPage">

  <div class="row read">
    <div class="col-lg-3 col-12 order-lg-1 order-2 read-title">
      <a href="#" (click)="turnBack()">My Hexschool</a>
    </div>
    <div class="col-lg-3 col-12 order-lg-2 order-3">
      <div class="black-select" style="width:200px;">
        <select id="chapter" (change)="changeChapter($event)">
          <option value="0">Select Chapter:</option>
          <option value="1">Chapter 1</option>
          <option value="2">Chapter 2</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-12 order-lg-3 order-4">
      <div class="black-select" style="width:200px;">
        <select id="page" (change)="changeChapterPage($event)">
          <option value="0">Select Page:</option>
          <option value="1">Page 1</option>
          <option value="2">Page 2</option>
          <option value="3">Page 3</option>
          <option value="4">Page 4</option>
          <option value="5">Page 5</option>
          <option value="6">Page 6</option>
          <option value="7">Page 7</option>
          <option value="8">Page 8</option>
          <option value="9">Page 9</option>
          <option value="10">Page 10</option>
          <option value="11">Page 11</option>
          <option value="12">Page 12</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-12 order-lg-4 order-1">
      <div class="row no-gutters changeRight2Left">
        <div class="col-8">
          <i class="far fa-lightbulb fa-2x"></i>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
          <i class="far fa-moon fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row picture no-gutters">
    <div class="col-1 row pre-block no-gutters">
      <a href="#" class="pre  align-items-center" (click)="prePage()">
        <div class="col text-center">
          <i class="fas fa-chevron-left i-size"></i>
        </div>
      </a>
    </div>
    <div class="col-10 text-center">
      <img [src]="imgSrc" alt="page1">
    </div>

    <div class="col-1 row next-block  no-gutters">
      <a href="#" class="next align-items-center" (click)="nextPage()">
        <div class="col text-center">
          <i class="fas fa-chevron-right i-size"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="row no-gutters scrollbar">
    <div class="col">
      <div class="thumb">
        <div [class.thumb-selected]="TestSelected(1)">
          <span>1</span>
          <a href="#" (click)="turnPick(1)">
            <img src="./image/storyboard-1.png" alt="1">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(2)">
          <span>2</span>
          <a href="#" (click)="turnPick(2)">
          <img src="./image/storyboard-2.png" alt="2">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(3)">
          <span>3</span>
          <a href="#" (click)="turnPick(3)"> <img src="./image/storyboard-3.png" alt="3">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(4)">
          <span>4</span>
          <a href="#" (click)="turnPick(4)"> <img src="./image/storyboard-4.png" alt="4">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(5)">
          <span>5</span>
          <a href="#" (click)="turnPick(5)"> <img src="./image/storyboard-5.png" alt="5">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(6)">
          <span>6</span>
          <a href="#" (click)="turnPick(6)"> <img src="./image/storyboard-6.png" alt="6">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(7)">
          <span>7</span>
          <a href="#" (click)="turnPick(7)"> <img src="./image/storyboard-7.png" alt="7">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(8)">
          <span>8</span>
          <a href="#" (click)="turnPick(8)"> <img src="./image/storyboard-8.png" alt="8">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(9)">
          <span>9</span>
          <a href="#" (click)="turnPick(9)"> <img src="./image/storyboard-9.png" alt="9">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(10)">
          <span>10</span>
          <a href="#" (click)="turnPick(10)">
            <img src="./image/storyboard-10.png" alt="10">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(11)">
          <span>11</span>
          <a href="#" (click)="turnPick(11)">
            <img src="./image/storyboard-11.png" alt="11">
          </a>
        </div>
        <div [class.thumb-selected]="TestSelected(12)">
          <span>12</span>
          <a href="#" (click)="turnPick(12)">
            <img src="./image/storyboard-12.png" alt="12">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
