<div class="container introduction homePage">
  <div class="row no-gutters">
    <div class="col-lg-6 col-12 cover" style="background-image: url(image/comic-cover.png)"></div>
    <div class="col-lg-6 col-12">
      <div class="title">
        <span>MY HEXSCHOOL</span>
      </div>
      <div class="row no-gutters content">
        <div class="col-lg-3 col-12 fieldName">
          <span>Genres</span>
        </div>
        <div class="col-lg-9 col-12 fieldContent">
          <span>Fusce/vehicula/dolor</span>
        </div>
        <div class="col-lg-3 col-12 fieldName">
          <span>Author</span>
        </div>
        <div class="col-lg-9 col-12 fieldContent">
          <span>Namae Shiranai</span>
        </div>
        <div class="col-lg-3 col-12 fieldName">
          <span>Status</span>
        </div>
        <div class="col-lg-9 col-12 fieldContent">
          <span>Ongoing</span>
        </div>
        <div class="col-lg-3 col-12 fieldName">
          <span>Rate</span>
        </div>
        <div class="col-lg-9 col-12 fieldContent">
          <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </span>
        </div>
        <div class="col-12 fieldName">
          <span>Summary</span>
        </div>
        <div class="col-12 fieldContent">
          <span>
            If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. Therefore, I say,
            I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with
            a plurality of other mortals.
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 chapters">
      <div class="title-block">
        <span>All Chapters</span>
      </div>
      <div class="row no-gutters item-block">
        <div class="col-12 item">
          <a href="#" (click)="selectChapter(1)">Chapter 1: The F2E Challenge Start!</a>
        </div>
        <div class="col-12 item"><a href="#" (click)="selectChapter(2)"  class="highNews">Chapter 2: Todo List is Going Crazy! </a></div>
      </div>
    </div>
  </div>
</div>
